h2 {
    margin-top: 40px;
}
.add-deck {
    margin-top: 40px;
}
.deck {
    margin-bottom: 20px;
}
.deck-preview {
    margin: 30px 0;
    position: relative;
}
.deck-back,
.deck-back-more {
    height: 250px;
    margin-left: 10px;
    width: auto;

    -ms-transform: rotate(4deg);
    -webkit-transform: rotate(4deg);
    transform: rotate(4deg);
}
.deck-back-more {
    -ms-transform: rotate(10deg);
    -webkit-transform: rotate(10deg);
    transform: rotate(10deg);

    position: absolute;
}
.deck-front {
    height: 270px;
    margin-left: -10px;
    margin-top: -10px;
    position: absolute;
    top: 0;
    width: auto;
    z-index: 10;

    -ms-transform: rotate(-4deg);
    -webkit-transform: rotate(-4deg);
    transform: rotate(-4deg);
}
.card-deck .chosen-cards {
    border: #ccc dashed 5px;
    min-height: 150px;
    padding: 20px;
    text-align: center;
}
.card-deck ul {
    list-style: none;
    margin: 0;
}
.card-deck li {
    float: left;
    margin-left: -30px;
    position: relative;
}
.card-deck li img {
    height: 100px;
    width: auto;
}
.card-deck li:hover img {
    height: 400px;
    margin-top: -100px;
    position: absolute;
    z-index: 10;
}
.card-list {
    margin-top: 30px;
}
.card p.selected img {
    opacity: 1;
}
.card img {
    cursor: pointer;
    height: 260px;
    opacity: 0.5;
    width: auto;
}
.card-list-filter,
.back-to-root {
    margin-top: 40px;
}

header .logo {
    display: inline-block;
}

footer {
    font-size: 12px;
    text-align: center;
    padding: 20px;
}

footer .row {
    border-top: 1px solid #ddd;
    padding-top: 20px;
}