h2 {
    margin-top: 40px;
}
.add-deck {
    margin-top: 40px;
}
.deck-list .deck img {
    height: 350px;
    width: auto;
}
.card-deck .chosen-cards {
    border: #ccc dashed 5px;
    min-height: 150px;
    padding: 20px;
    text-align: center;
}
.card-deck ul {
    list-style: none;
    margin: 0;
}
.card-deck li {
    float: left;
    margin-left: -30px;
    position: relative;
}
.card-deck li img {
    height: 100px;
    width: auto;
}
.card-deck li:hover img {
    height: auto;
    position: absolute;
    z-index: 10;
}
.card-list {
    margin-top: 30px;
}
.card p.selected img {
    opacity: 1;
}
.card img {
    cursor: pointer;
    height: 350px;
    opacity: 0.5;
    width: auto;
}
.card-list-filter,
.back-to-root {
    margin-top: 40px;
}

footer {
    font-size: 12px;
}

footer .row {
    border-top: 1px solid #ddd;
    padding-top: 20px;
}